*{ margin:0px; padding:0px;}
.imgbox{ width:1024px; height:192px; margin:0px auto; position:relative; margin-top:2px;}
.imgbox ul li{ display:block;} /*把所有的图片给隐藏掉*/
#imgshow img{ width:1024px; height:195px; }
.imgbox ul li,.changeimg ul li{ list-style:none; float:left;}
.changeimg ul li{ text-align:center; height:20px; line-height:20px; margin-right:10px; border:1px solid #33F; background:#0CF;}
.changeimg ul li:hover{ background:#F90;}
.changeimg ul li a{ text-decoration:none; display:inline-block; width:20px; height:20px;}
.changeimg ul{ position:absolute; top:265px; left:982px;}
/* 滑动css */
.picScroll-left{ width:470px;  overflow:hidden; position:relative;  border:1px solid #ccc;  margin-top:37px;}
.picScroll-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:5px; height:9px; float:right; margin-right:5px; margin-top:10px;  overflow:hidden;
cursor:pointer; }
.picScroll-left .hd .next{ background-position:0 -50px;  }
.picScroll-left .hd .prevStop{ background-position:-60px 0; }
.picScroll-left .hd .nextStop{ background-position:-60px -50px; }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:9px; height:9px; overflow:hidden; margin-right:5px; text-indent:-999px; cursor:pointer; }

.picScroll-left .bd{ padding:10px;   }
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
.picScroll-left .bd ul li .pic{ text-align:center; }
.picScroll-left .bd ul li .pic img{ width:120px; height:90px; display:block;  padding:2px; border:1px solid #ccc; }
.picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
.picScroll-left .bd ul li .title{ line-height:24px; }