<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	
	<link rel="stylesheet" type="text/css" href="css/common.css ">
	<link rel="stylesheet" type="text/css" href="css/page/css.css" >

	<title>product</title>
</head>
<body>
	<{include file="header.html"}> <{*加载头部内容*}>
	<div class="clear"></div>
	<div id="guanggao">
		<img src="images/guanggao_bg.gif" width="1024px"/>
	</div>
	<div id="clear"></div>
	<div id="main">
		<div class="main_left">
			<ul class="article">
				<li class="cp">产品展示</li>
				<li class="about">Rroduct</li>
				<li class="kongge">&nbsp;</li>
			</ul>
			<div id="clear"></div>
			<div class="Product">
			<{foreach $pro as $key=>$value}>
				<ul>
					<li><img src="<{$value['product_imgurl']}>" alt="" width="149px" height="106px"/><span><{$value['product_name']}></span></li>
				</ul>
			<{/foreach}>
			</div>
			<div id="clear"></div>
			<div class="page">
				<{page($page,$count_nums,$limit,3)}>
			</div>
		</div>
		<div class="main_right">
			<div class="message">
				<h1>我要留言</h1>
			</div>
			<div id="clear"></div>
			<div class="new_ad" >
				<ul class="ad">
					<li class="new">最新公告</li>
					<li class="news">New</li>
				</ul>
				<ul class="title259" >
					<{foreach $new_info as $key=>$value}>
					<li><a href=""><{$value['title']}></a></li>
					<{/foreach}>
				</ul>
			</div>
			<div id="clear"></div>
			<div class="new_ad" >
				<ul class="ad">
					<li class="new">友情链接</li>
					<li class="news">Links</li>
				</ul>
				<ul class="title259" >
				<{foreach $link as $key=>$value}>
					<li><a href=""><{$value['link_name']}></a></li>
				<{/foreach}>
				</ul>
			</div>
		</div>
	</div>
	<div id="clear"></div>
	<{include file="footer.html"}> <{*加载底部内容*}>
	<script type="text/javascript" src="js/js.js"></script>
</body>
</html>